
.all-content {
    max-width: 700px;
    margin: auto;
}
body {
    font-family: sans-serif;
    margin: 1.5rem;
}
.heading {
    text-align: left;
    font-size: 1.5rem;
}
h1 {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.nav {
    display: flex;
    gap: 1rem;
    padding: 0;
    justify-content: right;
}
a {
    text-decoration: none;
    color: rgb(7, 189, 250);
}
a:hover{
    text-decoration: underline;
}
.contact,
.home,
.about {
    display: none;
}
#contact:target,
#home:target,
#about:target {
    display: block;
}
h2 {
    padding: 0;
    margin: 0;
}
.code{
    background-color: gray;
    padding: 0.05rem 0.2rem;
    border-radius: 5px;
    color: white;
    font-family: serif;
}
p {
    line-height: 1.5;
}
button {
    background-color: black;
    border: none;
    height: 1rem;
    color: white;
}
